<div id="root"></div>
 
@using System.Web.Optimization

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <p style="font-size:20px;"> You can access the Adresar Test Application <a asp-controller="Adresar" asp-action="Index"> here </a></p>
    </div>


 @Scripts.Render("~/Scripts/src/dist/index.js") 
